NewSupportWS/Connected Services/CRA00ServerMonitor/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServerStatus.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServerStatus.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MachineInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="RAMAvailable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CPUUsage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MyDrives" nillable="true" type="tns:ArrayOfHDD_Drive" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MachineInfo" nillable="true" type="tns:MachineInfo" />
  <xs:complexType name="ArrayOfHDD_Drive">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HDD_Drive" nillable="true" type="tns:HDD_Drive" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHDD_Drive" nillable="true" type="tns:ArrayOfHDD_Drive" />
  <xs:complexType name="HDD_Drive">
    <xs:sequence>
      <xs:element minOccurs="0" name="HDDAvailableSpace" type="xs:long" />
      <xs:element minOccurs="0" name="HDDAvailableSpacePercentage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HDDName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HDDTotalSpace" type="xs:long" />
      <xs:element minOccurs="0" name="HDDType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HDD_Drive" nillable="true" type="tns:HDD_Drive" />
</xs:schema>