NewSupportWS/Connected Services/CRA00ServerMonitor/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://15.6.1.80/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://15.6.1.80/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://15.6.1.80/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServerStatus.Model" />
      <xsd:import schemaLocation="http://15.6.1.80/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMachineInfo_GetMachineInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMachineInfo" />
  </wsdl:message>
  <wsdl:message name="IMachineInfo_GetMachineInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMachineInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IMachineInfo_GetallDrives_InputMessage">
    <wsdl:part name="parameters" element="tns:GetallDrives" />
  </wsdl:message>
  <wsdl:message name="IMachineInfo_GetallDrives_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetallDrivesResponse" />
  </wsdl:message>
  <wsdl:portType name="IMachineInfo">
    <wsdl:operation name="GetMachineInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IMachineInfo/GetMachineInfo" message="tns:IMachineInfo_GetMachineInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMachineInfo/GetMachineInfoResponse" message="tns:IMachineInfo_GetMachineInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetallDrives">
      <wsdl:input wsaw:Action="http://tempuri.org/IMachineInfo/GetallDrives" message="tns:IMachineInfo_GetallDrives_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMachineInfo/GetallDrivesResponse" message="tns:IMachineInfo_GetallDrives_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMachineInfo" type="tns:IMachineInfo">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMachineInfo">
      <soap:operation soapAction="http://tempuri.org/IMachineInfo/GetMachineInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetallDrives">
      <soap:operation soapAction="http://tempuri.org/IMachineInfo/GetallDrives" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IMachineInfo" binding="tns:BasicHttpBinding_IMachineInfo">
      <soap:address location="http://15.6.1.80/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>