NewSupportWS/Connected Services/NIDInquireService/NIDInquireService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.10.1.100/InsuranceInquire/Services/NIDInquire/NIDInquireService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Presentation.NIDInquire" />
  <xs:element name="NIDInquire">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Presentation.NIDInquire" minOccurs="0" name="request" nillable="true" type="q1:NIDInquireRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NIDInquireResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Presentation.NIDInquire" minOccurs="0" name="NIDInquireResult" nillable="true" type="q2:NIDInquireResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>